$turquoise: #2c7be5;
$cyan: #e3ebf6;
$green: #28A264;
$yellow: #f6c343;
$red: #e63757;

$black: #12263f;
$black-bis: #12263f;
$black-ter: #12263f;

$grey-darker: #12263f;
$grey-dark: #12263f;
$grey: #e3ebf6;
$grey-light: #e8eff6;
$grey-lighter: #f2f7fc;
$grey-lightest: #f7f9fc;

$border: $grey-light;
$border-hover: $grey-light;
$border-light: $grey-light;
$border-light-hover: $grey-light;

$radius-small: 6px;
$radius: 6px;
$radius-large: 6px;

@import '~@cheeryworks/bulma/sass/utilities/_all';
